---
import ArticleLayout from '../../layouts/ArticleLayout.astro';
import { Code } from 'astro:components';

const codeUI = String.raw`# Disable typing insights
reg add "HKCU\Software\Microsoft\input\Settings" /v "InsightsEnabled" /t REG_DWORD /d 0 /f

# Disable storage sense
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\StorageSense\Parameters\StoragePolicy" /v "01" /t REG_DWORD /d 0 /f

# Don't show Edge tabs in Alt+Tab
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced" /v "MultiTaskingAltTabFilter" /t REG_DWORD /d 3 /f

# Don't show snapped groups in Alt+Tab
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced" /v "EnableTaskGroups" /t REG_DWORD /d 0 /f

# Don't show snap layouts hover menu
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced" /v "EnableSnapBar" /t REG_DWORD /d 0 /f

# Remove Copilot, Task View and Widgets from the taskbar
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced" /v "ShowCopilotButton" /t REG_DWORD /d 0 /f
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced" /v "ShowTaskViewButton" /t REG_DWORD /d 0 /f
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced" /v "TaskbarDa" /t REG_DWORD /d 0 /f

# Disable Copilot system-wide
reg add "HKLM\SOFTWARE\Policies\Microsoft\Windows\WindowsCopilot" /v "TurnOffWindowsCopilot" /t REG_DWORD /d 1 /f
reg add "HKCU\SOFTWARE\Policies\Microsoft\Windows\WindowsCopilot" /v "TurnOffWindowsCopilot" /t REG_DWORD /d 1 /f

# Turn off auto-installation of Microsoft Teams
reg add "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\Communications" /v "ConfigureChatAutoInstall" /t REG_DWORD /d 0 /f

# Hide the search box in the taskbar (0 = hidden, 1 = icon, 2 = box, 3 = icon with label)
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Search" /v "SearchboxTaskbarMode" /t REG_DWORD /d 0 /f

# Turn off lock screen notifications
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\PushNotifications" /v "LockScreenToastEnabled" /t REG_DWORD /d 0 /f
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Notifications\Settings" /v "NOC_GLOBAL_SETTING_ALLOW_CRITICAL_TOASTS_ABOVE_LOCK" /t REG_DWORD /d 0 /f

# Disable autocorrect
reg add "HKCU\Software\Microsoft\TabletTip\1.7" /v "EnableAutocorrection" /t REG_DWORD /d 0 /f

# Disable Game Bar opening with a controller
reg add "HKCU\Software\Microsoft\GameBar" /v "UseNexusForGameBarEnabled" /t REG_DWORD /d 0 /f

# Disable Sticky Keys and Filter Keys prompts
reg add "HKCU\Control Panel\Accessibility\StickyKeys" /v "Flags" /t REG_SZ /d "506" /f
reg add "HKCU\Control Panel\Accessibility\Keyboard Response" /v "Flags" /t REG_SZ /d "122" /f

# Disable SafeSearch
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\SearchSettings" /v "SafeSearchMode" /t REG_DWORD /d 0 /f

# Disable delivery optimization (only disable if you don't have multiple PCs sharing the same network)
reg add "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\DeliveryOptimization\Config" /v "DODownloadMode" /t REG_DWORD /d 0 /f
Delete-DeliveryOptimizationCache -Force

# Disable Remote Assistance
reg add "HKLM\SYSTEM\CurrentControlSet\Control\Remote Assistance" /v "fAllowToGetHelp" /t REG_DWORD /d 0 /f
reg add "HKLM\SYSTEM\CurrentControlSet\Control\Remote Assistance" /v "fAllowFullControl" /t REG_DWORD /d 0 /f

# Stop Windows managing your default printer
reg add "HKCU\Software\Microsoft\Windows NT\CurrentVersion\Windows" /v "LegacyDefaultPrinterMode" /t REG_DWORD /d 1 /f

# Disable Bing results in the Search box
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Search" /v "BingSearchEnabled" /t REG_DWORD /d 0 /f
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Search" /v "CortanaConsent" /t REG_DWORD /d 0 /f
reg add "HKLM\Software\Microsoft\Windows\CurrentVersion\Search" /v "BingSearchEnabled" /t REG_DWORD /d 0 /f

# Turn off sign-in info used to automatically finish setting up after an update
$SID = (Get-CimInstance -ClassName Win32_UserAccount | Where-Object -FilterScript {$_.Name -eq $env:USERNAME}).SID
reg add "HKLM\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon\UserARSO\$SID" /v "OptOut" /t REG_DWORD /d 1 /f

# Disable the 260-character path limit
reg add "HKLM\SYSTEM\CurrentControlSet\Control\FileSystem" /v "LongPathsEnabled" /t REG_DWORD /d 1 /f`;

const codeEnableFeatures = String.raw`# Enable Developer Mode
reg add "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\AppModelUnlock" /v "AllowDevelopmentWithoutDevLicense" /t REG_DWORD /d 1 /f

# Enable End Task in taskbar right-click menu
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced\TaskbarDeveloperSettings" /v "TaskbarEndTask" /t REG_DWORD /d 1 /f

# Enable clipboard history (Win+V)
reg add "HKCU\Software\Microsoft\Clipboard" /v "EnableClipboardHistory" /t REG_DWORD /d 1 /f

# Receive updates for other Microsoft products via Windows Update
reg add "HKLM\SOFTWARE\Microsoft\WindowsUpdate\UX\Settings" /v "AllowMUUpdateService" /t REG_DWORD /d 1 /f

# Show full path in Explorer title bar
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\CabinetState" /v "FullPath" /t REG_DWORD /d 1 /f

# Show hidden files and folders
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced" /v "Hidden" /t REG_DWORD /d 1 /f

# Show file extensions
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced" /v "HideFileExt" /t REG_DWORD /d 0 /f

# Show merge conflicts
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced" /v "HideMergeConflicts" /t REG_DWORD /d 0 /f

# Show encrypted/compressed NTFS files in color
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced" /v "ShowEncryptCompressedColor" /t REG_DWORD /d 1 /f

# Open File Explorer to This PC instead of Quick Access
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced" /v "LaunchTo" /t REG_DWORD /d 1 /f

# Disable OneDrive sync provider notifications (the ads)
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced" /v "ShowSyncProviderNotifications" /t REG_DWORD /d 0 /f

# Show detailed transfer info in Explorer
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\OperationStatusManager" /v "EnthusiastMode" /t REG_DWORD /d 1 /f

# Disable F1 help key in some Microsoft apps
reg add "HKCU\Software\Classes\Typelib\{8cec5860-07a1-11d9-b15e-000d56bfe6ee}\1.0\0\win64" /v "(default)" /t REG_SZ /d "" /f

# Enable Num Lock at startup
reg add "HKEY_USERS\.DEFAULT\Control Panel\Keyboard" /v "InitialKeyboardIndicators" /t REG_SZ /d 2147483650 /f

# Enable verbose logon messages
reg add "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System" /v "VerboseStatus" /t REG_DWORD /d 1 /f

# Show full BSOD info instead of the sad face
reg add "HKLM\SYSTEM\CurrentControlSet\Control\CrashControl" /v "DisplayParameters" /t REG_DWORD /d 1 /f

# Enable Network Discovery and file sharing on private networks
$FirewallRules = @(
  "@FirewallAPI.dll,-32752",
  "@FirewallAPI.dll,-28502"
)
Set-NetFirewallRule -Group $FirewallRules -Profile Private -Enabled True
Set-NetFirewallRule -Profile Public, Private -Name FPS-SMB-In-TCP -Enabled True
Set-NetConnectionProfile -NetworkCategory Private

# Set Control Panel to Large Icons view
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\ControlPanel" /v "AllItemsIconView" /t REG_DWORD /d 0 /f
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\ControlPanel" /v "StartupPage" /t REG_DWORD /d 1 /f

# Fix JPEG wallpaper quality
reg add "HKCU\Control Panel\Desktop" /v "JPEGImportQuality" /t REG_DWORD /d 100 /f

# Fix Downloads folder grouping by date (finally)
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\FolderTypes\{885a186e-a440-4ada-812b-db871b942259}\TopViews\{00000000-0000-0000-0000-000000000000}" /v "ColumnList" /t REG_SZ /d "System.Null" /f
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\FolderTypes\{885a186e-a440-4ada-812b-db871b942259}\TopViews\{00000000-0000-0000-0000-000000000000}" /v "GroupBy" /t REG_SZ /d "System.Null" /f
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\FolderTypes\{885a186e-a440-4ada-812b-db871b942259}\TopViews\{00000000-0000-0000-0000-000000000000}" /v "LogicalViewMode" /t REG_DWORD /d 1 /f
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\FolderTypes\{885a186e-a440-4ada-812b-db871b942259}\TopViews\{00000000-0000-0000-0000-000000000000}" /v "Name" /t REG_SZ /d "NoName" /f
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\FolderTypes\{885a186e-a440-4ada-812b-db871b942259}\TopViews\{00000000-0000-0000-0000-000000000000}" /v "Order" /t REG_DWORD /d 0 /f
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\FolderTypes\{885a186e-a440-4ada-812b-db871b942259}\TopViews\{00000000-0000-0000-0000-000000000000}" /v "PrimaryProperty" /t REG_SZ /d "System.ItemNameDisplay" /f
reg add "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\FolderTypes\{885a186e-a440-4ada-812b-db871b942259}\TopViews\{00000000-0000-0000-0000-000000000000}" /v "SortByList" /t REG_SZ /d "System.ItemNameDisplay" /f`;

const codeOtherTweaks = String.raw`# Disable hibernation
powercfg.exe /hibernate off

# Turn various services to manual or disabled
Stop-Service -Name AJRouter -Force
Set-Service -Name AJRouter -StartupType Disabled
Stop-Service -Name AssignedAccessManagerSvc -Force
Set-Service -Name AssignedAccessManagerSvc -StartupType Disabled # Kiosk mode
Set-Service -Name CDPSvc -StartupType Manual
Stop-Service -Name diagnosticshub.standardcollector.service -Force
Set-Service -Name diagnosticshub.standardcollector.service -StartupType Disabled
Stop-Service -Name DiagTrack -Force
Set-Service -Name DiagTrack -StartupType Disabled
# Set-Service -Name MapsBroker -StartupType Manual # Will break Windows Maps
# Set-Service -Name PcaSvc -StartupType Manual # Program Compatibility Assistant
Stop-Service -Name RemoteRegistry -Force
Set-Service -Name RemoteRegistry -StartupType Disabled
# Set-Service -Name UsoSvc -StartupType Manual # Shouldn't break Windows Update
# Set-Service -Name wisvc -StartupType Disabled # Disables Windows Insider

# Disable unneeded scheduled tasks
Get-ScheduledTask -TaskName "FamilySafetyMonitor" | Disable-ScheduledTask # Comment out if you use Family Safety
Get-ScheduledTask -TaskName "FamilySafetyRefreshTask" | Disable-ScheduledTask
# Get-ScheduledTask -TaskName "MapsToastTask" | Disable-ScheduledTask # Remove comment left and below if you do not use Windows Maps and will not use Windows Maps
# Get-ScheduledTask -TaskName "MapsUpdateTask" | Disable-ScheduledTask
# Get-ScheduledTask -TaskName "XblGameSaveTask" | Disable-ScheduledTask # Remove comment if you do not use Xbox and will not use Xbox
Get-ScheduledTask -TaskName "AitAgent" | Disable-ScheduledTask
Get-ScheduledTask -TaskName "Consolidator" | Disable-ScheduledTask
Get-ScheduledTask -TaskName "DmClient" | Disable-ScheduledTask
Get-ScheduledTask -TaskName "DmClientOnScenarioDownload" | Disable-ScheduledTask
Get-ScheduledTask -TaskName "KernelCeipTask" | Disable-ScheduledTask
Get-ScheduledTask -TaskName "Microsoft Compatibility Appraiser" | Disable-ScheduledTask
Get-ScheduledTask -TaskName "ProgramDataUpdater" | Disable-ScheduledTask
Get-ScheduledTask -TaskName "QueueReporting" | Disable-ScheduledTask
Get-ScheduledTask -TaskName "StartupAppTask" | Disable-ScheduledTask
Get-ScheduledTask -TaskName "UsbCeip" | Disable-ScheduledTask
Get-ScheduledTask -TaskName "Microsoft-Windows-DiskDiagnosticDataCollector" | Disable-ScheduledTask

# Disable SMBv1 (security)
Disable-WindowsOptionalFeature -Online -NoRestart -FeatureName SMB1Protocol

# Disable XPS Document Writer
Disable-WindowsOptionalFeature -Online -NoRestart -FeatureName Printing-XPSServices-Features

# Disable Work Folders (do not turn off if connected to Active Directory)
# Disable-WindowsOptionalFeature -Online -NoRestart -FeatureName WorkFolders-Client

# Disable PowerShell 2.0 (security)
# dism /online /Disable-Feature /FeatureName:"MicrosoftWindowsPowerShellV2Root" /NoRestart
# dism /online /Disable-Feature /FeatureName:"MicrosoftWindowsPowerShellV2" /NoRestart

# Remove Windows Media Player
Get-WindowsCapability -Online -Name 'Media.WindowsMediaPlayer*' | Remove-WindowsCapability -Online

# Remove Internet Explorer (and IE mode in Edge)
# Get-WindowsCapability -Online -Name 'Browser.InternetExplorer*' | Remove-WindowsCapability -Online
# dism /Online /Disable-Feature /FeatureName:"Internet-Explorer-Optional-x64" /NoRestart

# Remove Telnet client
dism /Online /Disable-Feature /FeatureName:"TelnetClient" /NoRestart

# Remove some optional apps
Get-WindowsCapability -Online -Name 'App.StepsRecorder*' | Remove-WindowsCapability -Online
Get-WindowsCapability -Online -Name 'Microsoft.Windows.PowerShell.ISE*' | Remove-WindowsCapability -Online
Get-WindowsCapability -Online -Name 'MathRecognizer*' | Remove-WindowsCapability -Online

# Install WSL (Linux in Windows)
# wsl --install

# Improve Defender behavior
# Set-MpPreference -CheckForSignaturesBeforeRunningScan 1
# Set-MpPreference -EnableNetworkProtection Enabled
# Set-MpPreference -PUAProtection Enabled

# Stop Defender nagging about not having a Microsoft account
reg add "HKCU\Software\Microsoft\Windows Security Health\State" /v "AccountProtection_MicrosoftAccount_Disconnected" /t REG_DWORD /d 1 /f

# Stop Defender nagging about Edge SmartScreen
# reg add "HKCU\Software\Microsoft\Windows Security Health\State" /v "AppAndBrowser_EdgeSmartScreenOff" /t REG_DWORD /d 0 /f

# Hide "Share" from the right-click context menu
# Remove-Item -Path "Registry::HKEY_CLASSES_ROOT\AllFilesystemObjects\shellex\ContextMenuHandlers\ModernSharing" -Recurse -Force -ErrorAction Ignore

# Disable MS Store in "Open with" suggestions
reg add "HKCU\Software\Policies\Microsoft\Windows\Explorer" /v "NoUseStoreOpenWith" /t REG_DWORD /d 1 /f

# Clean up Explorer cache and temp files
Clear-RecycleBin -Force -ErrorAction SilentlyContinue
# Remove-Item -Force -Confirm:$false -Recurse $env:LocalAppData\Microsoft\Windows\Explorer\*.db
# Remove-Item -Force -Confirm:$false $env:localappdata\Temp\*`;

const codeWinget = String.raw`# Update winget source if it is not working
# Add-AppxPackage -Path https://cdn.winget.microsoft.com/cache/source.msix

winget upgrade --exact --accept-source-agreements --accept-package-agreements

# Install apps — remove whatever you don't need
winget install --accept-source-agreements --accept-package-agreements Microsoft.PowerShell HeidiSQL.HeidiSQL Git.Git Microsoft.VisualStudioCode Discord.Discord Valve.Steam yt-dlp.yt-dlp Gyan.FFmpeg voidtools.Everything GIMP.GIMP KDE.Krita M2Team.NanaZip PrismLauncher.PrismLauncher qBittorrent.qBittorrent GoLang.Go EclipseAdoptium.Temurin.21.JDK JetBrains.Toolbox OBSProject.OBSStudio dotPDN.PaintDotNet Microsoft.PowerToys Microsoft.VCRedist.2015+.x64 OpenJS.NodeJS.22 Libretro.RetroArch Microsoft.DotNet.SDK.8`;

const codeChoco = String.raw`# Check the Chocolately website first for any updates. Run as Administrator.
Set-ExecutionPolicy Bypass -Scope Process -Force
[System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072
iex ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))`;

const codeCTT = String.raw`# Run as Administrator in PowerShell
iwr -useb https://christitus.com/win | iex`;
---

<style>
  .checklist {
    list-style: none;
    padding-left: 0;
  }
  .checklist li {
    list-style-type: none;
    padding: 0.15em 0;
  }
  .checklist li label {
    display: flex;
    align-items: flex-start;
    gap: 0.5em;
    cursor: pointer;
  }
  .checklist input[type="checkbox"] {
    margin-top: 0.2em;
    flex-shrink: 0;
    cursor: pointer;
    accent-color: var(--link-color);
  }
  .checklist-group {
    margin-top: 0.75em;
    margin-bottom: 0.25em;
    font-weight: bold;
    font-size: 0.9em;
    opacity: 0.75;
  }
  .ctt-box {
    border: 1px solid var(--shadow-color);
    border-radius: 0.5em;
    padding: 0.75em 1em;
    margin: 1em 0;
    background-color: var(--code-bg-color);
  }
</style>

<ArticleLayout
  description="A Windows 11 setup guide"
  heading="Windows 11 Setup"
  lastUpdated="2026-06-16"
>
  <p><b>Note: This guide is for personal setups, not enterprise. Look over what you copy and paste. I am not responsible for anything that goes wrong.</b></p>

  <h2><a href="#pre-requisites">Pre-requisites</a></h2>

  <ul>
    <li>A PC with TPM 2.0 and Secure Boot support</li>
    <li>
      A <a href="https://www.microsoft.com/software-download/windows11" target="_blank" rel="noopener">Windows 11 ISO</a> — latest as of writing is <code>25H2 (26200.8655)</code>
    </li>
    <li>
      I recommend using <a href="https://rufus.ie" target="_blank" rel="noopener">Rufus</a> to write the ISO to a USB drive. It has an option to bypass the Microsoft account requirement during setup, which saves you a step.
    </li>
  </ul>

  <h2><a href="#installation">Installation</a></h2>

  <ol>
    <li>Set your <i>Language</i>, <i>Time</i> and <i>Currency</i> settings.</li>
    <li>
      Install <b>Windows 11 Pro</b>.
    </li>
    <li>Follow through the prompts as normal.</li>
    <li>
      At the Microsoft sign-in screen, you have a few options to get a local account:
      <ul>
        <li><b>Easiest:</b> If you used Rufus with the account bypass option, you'll see a local account option directly.</li>
        <li><b>Otherwise:</b> Enter <code>a@b.com</code> as the email and any random password. It will fail to connect, and Windows will then let you create a local account.</li>
        <li><b>No internet:</b> Disconnect your ethernet or disable Wi-Fi before this screen — the <i>I don't have internet</i> button will appear.</li>
      </ul>
      <i>Note: <code>OOBE\BYPASSNRO</code> was removed in Windows 11 24H2 and no longer works.</i>
    </li>
    <li>
      Once you reach the desktop, go straight to <b>Windows Update</b> and update everything, including optional updates under <i>Advanced options &rarr; Optional updates</i>.
    </li>
  </ol>

  <h2><a href="#ctt">Recommended: Chris Titus Tech Winutil</a></h2>

  <p>
    Before diving into manual tweaks, consider running the <a href="https://github.com/ChrisTitusTech/winutil" target="_blank" rel="noopener">Chris Titus Tech Windows Utility</a>. It's a GUI tool that covers debloating, tweaks, and app installation all in one place — and it's actively maintained. Run the following as Administrator in PowerShell:
  </p>

  <Code code={codeCTT} lang="powershell" theme="github-light" />

  <p>The sections below cover everything manually for those who want more control over what gets changed.</p>

  <h2><a href="#privacy">Privacy &amp; Online Features</a></h2>

  <p>Go through these in the <b>Settings</b> app. These replace a wall of registry commands — the GUI is the right place for these.</p>

  <p class="checklist-group">Settings &rarr; Privacy &amp; security &rarr; General</p>
  <ul class="checklist">
    <li><label><input type="checkbox"> Let apps show me personalized ads using my advertising ID &rarr; <b>Off</b></label></li>
    <li><label><input type="checkbox"> Let websites show me locally relevant content by accessing my language list &rarr; <b>Off</b></label></li>
    <li><label><input type="checkbox"> Let Windows improve Start and search results by tracking app launches &rarr; <b>Off</b></label></li>
    <li><label><input type="checkbox"> Show me suggested content in the Settings app &rarr; <b>Off</b></label></li>
    <li><label><input type="checkbox"> Show me notifications in the Settings app &rarr; <b>Off</b></label></li>
  </ul>

  <p class="checklist-group">Settings &rarr; Privacy &amp; security &rarr; Speech</p>
  <ul class="checklist">
    <li><label><input type="checkbox"> Online speech recognition &rarr; <b>Off</b></label></li>
  </ul>

  <p class="checklist-group">Settings &rarr; Privacy &amp; security &rarr; Inking &amp; typing personalization</p>
  <ul class="checklist">
    <li><label><input type="checkbox"> Inking &amp; typing personalization &rarr; <b>Off</b></label></li>
  </ul>

  <p class="checklist-group">Settings &rarr; Privacy &amp; security &rarr; Diagnostics &amp; feedback</p>
  <ul class="checklist">
    <li><label><input type="checkbox"> Diagnostic data &rarr; <b>Send required diagnostic data</b></label></li>
    <li><label><input type="checkbox"> Improve inking and typing &rarr; <b>Off</b></label></li>
    <li><label><input type="checkbox"> Tailored experiences &rarr; <b>Off</b></label></li>
    <li><label><input type="checkbox"> Feedback frequency &rarr; <b>Never</b></label></li>
  </ul>

  <p class="checklist-group">Settings &rarr; Privacy &amp; security &rarr; Activity history</p>
  <ul class="checklist">
    <li><label><input type="checkbox"> Store my activity history on this device &rarr; <b>Off</b></label></li>
  </ul>

  <p class="checklist-group">Settings &rarr; Privacy &amp; security &rarr; Search permissions</p>
  <ul class="checklist">
    <li><label><input type="checkbox"> SafeSearch &rarr; <b>Off</b></label></li>
    <li><label><input type="checkbox"> Cloud content search (Microsoft account) &rarr; <b>Off</b></label></li>
    <li><label><input type="checkbox"> Cloud content search (Work or School account) &rarr; <b>Off</b></label></li>
    <li><label><input type="checkbox"> Search history on this device &rarr; <b>Off</b></label></li>
    <li><label><input type="checkbox"> Show search highlights &rarr; <b>Off</b></label></li>
  </ul>

  <p class="checklist-group">Settings &rarr; Personalization &rarr; Start</p>
  <ul class="checklist">
    <li><label><input type="checkbox"> Show recently opened items in Start, Jump Lists, and File Explorer &rarr; <b>Off</b></label></li>
    <li><label><input type="checkbox"> Show recommendations for tips, shortcuts, new apps, and more &rarr; <b>Off</b></label></li>
  </ul>

  <p class="checklist-group">Settings &rarr; Personalization &rarr; Taskbar</p>
  <ul class="checklist">
    <li><label><input type="checkbox"> Copilot &rarr; <b>Off</b></label></li>
    <li><label><input type="checkbox"> Task View &rarr; <b>Off</b></label></li>
    <li><label><input type="checkbox"> Widgets &rarr; <b>Off</b></label></li>
    <li><label><input type="checkbox"> Search &rarr; <b>Hide</b></label></li>
  </ul>

  <h2><a href="#disable-features">UI &amp; Taskbar Tweaks</a></h2>

  <p>First, open <b>Task Manager &rarr; Startup apps</b> and disable everything except <i>Windows Security</i>.</p>

  <Code code={codeUI} lang="powershell" theme="github-light" />

  <h2><a href="#enable-features">Enable Useful Features</a></h2>

  <p>A few things worth enabling manually first:</p>

  <ul class="checklist">
    <li><label><input type="checkbox"> <b>Night light</b> — Settings &rarr; System &rarr; Display &rarr; Night light</label></li>
    <li><label><input type="checkbox"> <b>Power mode</b> — Settings &rarr; System &rarr; Power &rarr; Power mode (set to Balanced or Best performance)</label></li>
    <li><label><input type="checkbox"> <b>Enhanced search</b> — Settings &rarr; Privacy &amp; security &rarr; Searching Windows &rarr; Enhanced</label></li>
  </ul>

  <Code code={codeEnableFeatures} lang="powershell" theme="github-light" />

  <h2><a href="#uninstall-default-applications">Uninstall Default Apps</a></h2>

  <p>
    I keep Notepad, Paint, the MS Store, all image/video codec extensions, Photos, Camera, Calculator, Clock, Snipping Tool, Sticky Notes, Terminal, and the Xbox apps.
    You will need to uninstall <b>OneDrive</b> separately, or at minimum stop it from auto-backing up your folders.
  </p>

  <p>Check off what you want removed, then run the script below:</p>

  <ul class="checklist">
    <li><label><input type="checkbox"> Clipchamp (video editor)</label></li>
    <li><label><input type="checkbox"> Cortana</label></li>
    <li><label><input type="checkbox"> Disney+</label></li>
    <li><label><input type="checkbox"> Feedback Hub</label></li>
    <li><label><input type="checkbox"> Mail and Calendar</label></li>
    <li><label><input type="checkbox"> Microsoft Advertising</label></li>
    <li><label><input type="checkbox"> Microsoft Bing News</label></li>
    <li><label><input type="checkbox"> Microsoft Bing Weather</label></li>
    <li><label><input type="checkbox"> Microsoft Get Help</label></li>
    <li><label><input type="checkbox"> Microsoft Maps</label></li>
    <li><label><input type="checkbox"> Microsoft Office Hub</label></li>
    <li><label><input type="checkbox"> Microsoft Outlook (new)</label></li>
    <li><label><input type="checkbox"> Microsoft Solitaire Collection</label></li>
    <li><label><input type="checkbox"> Microsoft Tips</label></li>
    <li><label><input type="checkbox"> Microsoft To Do</label></li>
    <li><label><input type="checkbox"> Microsoft Wallet</label></li>
    <li><label><input type="checkbox"> Mixed Reality Portal</label></li>
    <li><label><input type="checkbox"> Movies &amp; TV (Films &amp; TV)</label></li>
    <li><label><input type="checkbox"> Groove Music</label></li>
    <li><label><input type="checkbox"> OneNote (Store version)</label></li>
    <li><label><input type="checkbox"> Parental Controls</label></li>
    <li><label><input type="checkbox"> People</label></li>
    <li><label><input type="checkbox"> Phone Link</label></li>
    <li><label><input type="checkbox"> Power Automate Desktop</label></li>
    <li><label><input type="checkbox"> Print 3D</label></li>
    <li><label><input type="checkbox"> Quick Assist</label></li>
    <li><label><input type="checkbox"> Skype</label></li>
    <li><label><input type="checkbox"> Spotify</label></li>
    <li><label><input type="checkbox"> Microsoft Teams</label></li>
    <li><label><input type="checkbox"> Voice Recorder</label></li>
    <li><label><input type="checkbox"> Windows AI Copilot Provider</label></li>
  </ul>

  <Code code={`Get-AppxPackage "Clipchamp.Clipchamp" | Remove-AppxPackage
Get-AppxPackage "*Microsoft.Advertising.Xaml*" | Remove-AppxPackage
Get-AppxPackage "*Spotify*" | Remove-AppxPackage
Get-AppxPackage "*MicrosoftTeams*" | Remove-AppxPackage
Get-AppxPackage "*Disney*" | Remove-AppxPackage
Get-AppxPackage "Microsoft.549981C3F5F10" | Remove-AppxPackage # Cortana
Get-AppxPackage "Microsoft.BingNews" | Remove-AppxPackage
Get-AppxPackage "Microsoft.BingWeather" | Remove-AppxPackage
Get-AppxPackage "Microsoft.GetHelp" | Remove-AppxPackage
Get-AppxPackage "Microsoft.Getstarted" | Remove-AppxPackage
Get-AppxPackage "Microsoft.MicrosoftOfficeHub" | Remove-AppxPackage
Get-AppxPackage "Microsoft.MicrosoftSolitaireCollection" | Remove-AppxPackage
Get-AppxPackage "Microsoft.MixedReality.Portal" | Remove-AppxPackage
Get-AppxPackage "Microsoft.News" | Remove-AppxPackage
Get-AppxPackage "Microsoft.Office.OneNote" | Remove-AppxPackage
Get-AppxPackage "Microsoft.OutlookForWindows" | Remove-AppxPackage
Get-AppxPackage "Microsoft.People" | Remove-AppxPackage
Get-AppxPackage "Microsoft.PowerAutomateDesktop" | Remove-AppxPackage
Get-AppxPackage "Microsoft.Print3D" | Remove-AppxPackage
Get-AppxPackage "Microsoft.SkypeApp" | Remove-AppxPackage
Get-AppxPackage "Microsoft.Todos" | Remove-AppxPackage
Get-AppxPackage "Microsoft.Wallet" | Remove-AppxPackage
Get-AppxPackage "Microsoft.Windows.Ai.Copilot.Provider" | Remove-AppxPackage
Get-AppxPackage "Microsoft.Windows.ParentalControls" | Remove-AppxPackage
Get-AppxPackage "microsoft.windowscommunicationsapps" | Remove-AppxPackage # Mail and Calendar
Get-AppxPackage "Microsoft.WindowsFeedbackHub" | Remove-AppxPackage
Get-AppxPackage "Microsoft.WindowsMaps" | Remove-AppxPackage
Get-AppxPackage "Microsoft.WindowsPhone" | Remove-AppxPackage
Get-AppxPackage "Microsoft.WindowsSoundRecorder" | Remove-AppxPackage
Get-AppxPackage "Microsoft.YourPhone" | Remove-AppxPackage # Phone Link
Get-AppxPackage "Microsoft.ZuneMusic" | Remove-AppxPackage # Groove Music
Get-AppxPackage "Microsoft.ZuneVideo" | Remove-AppxPackage # Movies & TV
Get-AppxPackage "MicrosoftCorporationII.QuickAssist" | Remove-AppxPackage`} lang="powershell" theme="github-light" />

  <h2><a href="#other-pwsh-tweaks">Other PowerShell Tweaks</a></h2>

  <Code code={codeOtherTweaks} lang="powershell" theme="github-light" />

  <h2><a href="#app-installation">App Installation</a></h2>

  <h3><a href="#app-installation_winget">winget</a></h3>

  <Code code={codeWinget} lang="powershell" theme="github-light" />

  <h3><a href="#app-installation_choco">Chocolatey</a></h3>
  <p><a href="https://community.chocolatey.org/" target="_blank" rel="noopener">Chocolatey website</a></p>

  <Code code={codeChoco} lang="powershell" theme="github-light" />

  <h2><a href="#testing">Testing</a></h2>

  <p><i>Results below were recorded on Windows 11 Pro 23H2 in VMware with a local account. Results on 25H2 may vary.</i></p>

  <p>Fresh installation, no tweaks applied:</p>

  <img width="48%" src="/img/articles/windows11/windows11_cpu_initial.png" />
  <img width="48%" src="/img/articles/windows11/windows11_ram_initial.png" />

  <p>With most tweaks applied (WSL/winget/choco excluded), after a restart with no internet:</p>

  <img width="48%" src="/img/articles/windows11/windows11_cpu_tweaked.png" />
  <img width="48%" src="/img/articles/windows11/windows11_ram_tweaked.png" />

  <p>With everything applied, Edge disabled on startup, and a Windows Update installed:</p>

  <img width="48%" src="/img/articles/windows11/windows11_cpu_everything.png" />
  <img width="48%" src="/img/articles/windows11/windows11_ram_everything.png" />
</ArticleLayout>
