---
import '../styles/main.scss';

interface Props {
  title: string;
  description: string;
  ogType?: string;
}

const { title, description, ogType = 'website' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Geckronome" />
    <link rel="icon" href="/icon.png" sizes="any" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content={ogType} />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body>
    <div class="page-container">
      <slot />
    </div>
  </body>
</html>
